.desktop-navbar {
    display: flex;
    justify-content:space-between;
    background:rgb(255, 111, 0);
    height: 60px;
    color: white;
    
}

.desktop-navbar ul {
    display: flex;
    list-style: none;
    padding-top:10px;
    height:60px;
    width: 100%;
    background-color:;
}

.desktop-navbar li {
  
    margin: 0px 15px;
    cursor: pointer;
    color: white;
    height:30px;
    background-color:;
    
    font-size: larger;
    
}
ul > :first-child{
    margin-right: auto;

}

.desktop-navbar li:hover {
    text-decoration: underline;
}
.desktop-navbar lia{
    color:black;
    font-size: x-large;
}