.desktop-navbar {
    display: flex;
    justify-content:space-between;
    background:orangered;
    
    color: white;
    
}

.desktop-navbar ul {
    display: flex;
    list-style: none;
    padding-top:10px;
    height:60px;
    width: 100%;
    background-color: green;
}

.desktop-navbar li {
  
    margin: 0px 15px;
    cursor: pointer;
    color: white;
    height:30px;
    background-color: blue;
    font-size: larger;
    
}
ul > :first-child{
    margin-right: auto;

}

.desktop-navbar li:hover {
    text-decoration: underline;
}
a{
    color:black;
}