.desktop-navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 0px;
}

.desktop-navbar ul {
    display: flex;
    list-style: none;
    padding: 1p;
    margin: 0;
    margin-top: 5px;
}

.desktop-navbar li {
  
    margin: 0 15px;
    cursor: pointer;
    color: white;
    
}

.desktop-navbar li:hover {
    text-decoration: underline;
}
a{
    color:black;
}