.form-container {
  width: 60%;
  margin: 90px auto;
}
.form {
  display: flex;
  flex-direction: column;
}
input, select, button {
  margin: 10px 0;
}
.error {
  color: red;
  font-size: 14px;
}
.brand-input {
  display: flex;
  align-items: center;
}